{% assign value = "Page foo" %}
{% assign items = collections.all | where: "data.title", value %}

{% for item in items reversed limit: 2 %}
  url: {{ item.url }}
  title: {{ item.data.title }}
{% endfor %}

{% assign value = "Page foo" %}
{% assign all = collections.test | sort: "data.order" %}
{% for item in all  limit: 2 %}
   {{ item.data.title }}
{% endfor %}


<table>
{% tablerow item in collections.test cols:2 %}
  {{ item.data.title }}
  {{ item.data.order }}
{% endtablerow %}
</table>
