{%- if env.mode != 'prod' %}<!-- 👋 src/theme-grunn/includes/components/link/link.liquid -->{%- endif -%}

<section>

  {% comment %}title + text {% endcomment %}
  <article class="mx-auto max-w-3xl">
    <h2 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
      {{ component.title }}
    </h2>
    {% if component.text %}
      <div class="text-xl">
        {{ component.text }}
      </div>
    {% endif %}
  </article>

  <div class="md:grid grid-cols-3 gap-4 py-4">

    {% for item in component.link %}
      <article class="border-1 border-teal-300 bg-white dark:bg-gray-900 p-4 m-2 shadow rounded-sm">
        <a href="{{ item.url}}" class="flex flex-col items-center text-gray-800 dark:text-gray-100 font-bold mr-4 ">
          <div class="border shadow-md ">

            <img src="https://v1.opengraph.11ty.dev/https%3A%2F%2Fwww.{{ item.url | replace: "https://", "" }}%2F/" alt="" loading="lazy" decoding="async" width="375" height="197">
          </div>
          <div>
          {% if item.title %}
            {{ item.title }}
          {% else %}
          {{ item.url | replace: "https://", "" }}
          {% endif %}
          </div>

          </a>

      </article>
    {% endfor %}

  </div>

</section>
