---
layout: default.liquid
saga-template-name: Copenhell
---
data: copenhell stuff
{% for item in collections.copenhellshows %}
  <div class="p-2">
    <a href="{{ item.url  }}">{{ item.data.show.object.title }}</a>
    {{ item.data.show.venue.title }}

    {{ item.data.show.date_start | date: "%A %d  %B" }}
    kl: {{ item.data.show.time_start | replace: ":00", "" }}
    tags

   </div>

  {{ item.data.show | json  }}
{% endfor %}
