{%- if env.mode != 'prod' %}
  <!-- src/theme-grunn/includes/components/download/download.liquid  -->
{%- endif  -%}

<section class="max-w-7xl mx-auto">

  {% comment %}title + text {% endcomment %}
  <article class="mx-auto max-w-3xl">
    <h3 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
      {{ component.title }}
    </h3>
    {% if component.text %}
      <div class="prose prose-xl dark:prose-invert">
        {{ component.text  | markdown   }}
      </div>
    {% endif %}
  </article>

  <div class="flex flex-row flex-wrap justify-center mx-auto pagewidth mt-8 bg-gray-300 dark:bg-gray-800">

    {% for item in component.files %}

      {% comment %}set the file title {% endcomment %}
      {% capture title %}
        {% if item.title %}
          {{  item.title }}
        {% else %}
          {{ item.file }}
        {% endif %}
      {% endcapture %}

      {% comment %}Download Card {% endcomment %}
      <a href="{{ item.file }}"
              class="flex flex-row items-center basis-60 p-2 m-2 bg-white dark:bg-gray-900 shadow rounded-md
          ">
        {% comment %}icon {% endcomment %}
        <div class="flex flex-none h-10 w-10 mr-2 items-center justify-center rounded-md bg-cyan-500 text-white">
          <div class="w-6">
            {% include "icons/arrow-down-tray.svg" %}
          </div>
        </div>
        <div class="ml-2">{{ title }}</div>
      </a>

    {% endfor %}
  </div>

</section>
