{% capture filename -%}
{{ tag.data.title | replace: " ", "" | slugify }}
{%- endcapture %}
---
pagination:
  data: collections.allTags
  size: 1
  alias: tag
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag.data.title }}"
  permalink: feed/{{ filename }}.xml
  eleventyComputed:
  title: "{{ tag.data.title }}"
  content: "{{ tag.data.content }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}: {{ title }}</title>
  <subtitle>{{ content }} </subtitle>
  <link href="{{ env.url }}/feed/{{ filename }}.xml" rel="self" />
  <link href="{{ env.url }}" />
  <generator uri="https://saga11.dev">Saga11</generator>
  <logo>{{env.url}}/icon-safari.png</logo>
  <icon>{{env.url}}/icon-safari.png</icon>
  <updated>{{ collections[ tag.fileSlug ] | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ env.url }}/tag/{{ title }}</id>
  <author>
    <name>{{ site.authorname }}</name>
    <email>{{ site.authoremail }}</email>
  </author>

  {%- for item in collections[ tag.fileSlug ] | reverse %}
  <entry>
    <title>{{ item.data.card.title }}</title>
    <link href="{{ env.url }}/{{item.url}}" />
    <summary> {{item.data.card.text }} </summary>
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
      {% if item.data.card.image %}
      <![CDATA[
        {%- include 'image.liquid',
        file: item.data.card.image,
        alt: title,
        sizes: "a",
        widths: "800",
        format: "webp",
        loading: "",
        css: ""
        -%}
      ]]>
      {% endif %}

      {{ item.templateContent | strip_html |truncate: "400" }}
    </content>
  </entry>

  {%- endfor %}

</feed>
