---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ env.url }}/feed.xml" rel="self"/>
  <generator uri="https://saga11.dev">Saga11</generator>
  <logo>{{env.url}}/assets/icon/icon-safari.png</logo>
  <icon>{{env.url}}/assets/icon/icon-safari.png</icon>
  {% comment %} TODO: feed dates <updated>{{ collections.rssfeed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>  {% endcomment %}
  <id>{{ env.url }}/</id>
  <author>
    <name>{{ site.authorname }}</name>
    <email>{{ site.authoremail }}</email>
  </author>

  {%- for item in collections.rssfeed | reverse %}

  {% comment %} {%- assign absolutePostUrl = item.url | url | absoluteUrl(env.url) %}  {% endcomment %}

    <entry>
      <title>{{ item.data.card.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <summary> {{item.data.card.text }} </summary>
      {% comment %} <updated>{{ item.date | dateToRfc3339 }}</updated>  {% endcomment %}
      <id>{{ absolutePostUrl }}</id>
      <content type="html">
      {% if item.data.card.image %}
        <![CDATA[
          {% comment %}{% picture
            img=item.data.card.image,
            width=[640],
            format="png",
            sizes="",
            css="",
            loading = ""
          %} {% endcomment %}
          ]]>
        {% endif %}

        {% comment %} {{ item.templateContent | truncate(400, true, "..." ) | htmlToAbsoluteUrls(absolutePostUrl) }}  {% endcomment %}
      </content>
    </entry>

  {%- endfor %}

</feed>
