---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description | strip_newlines | escape }}</subtitle>
  <link href="{{ env.url }}/feed.xml" rel="self" />
  <generator uri="https://saga11.dev">Saga11</generator>
  <logo>{{env.url}}{% render 'image/imageurl.liquid' file: site.icon, widths: '144', format: 'png' %}</logo>
  <icon>{{env.url}}{% render 'image/imageurl.liquid' file: site.icon, widths: '144', format: 'png' %}</icon>
  <updated>{{ collections.rssfeed | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ env.url }}</id>
  <author>
    <name>{{ site.authorname | default: site.title }}</name>
    <email>{{ site.authoremail }}</email>
  </author>

  {%- for item in collections.rssfeed | reverse %}
  <entry>
    <title>{{ item.data.card.title | default: item.data.title }}</title>
    <link href="{{item.url | prepend: env.url }}" />
    <summary> {{item.data.card.text | default: item.templateContent | strip_html | strip_newlines | escape}} </summary>
    <updated>{{ item.date | dateToRfc3339 }}</updated>
    <id>{{ item.url }}</id>
    <content type="html">
      {% assign img = item.data.card.image | default: item.data.image %}
      <![CDATA[
        {%- include 'image/image.liquid', file: img, widths: "800", format: "webp" %}
      ]]>
      {{ item.templateContent | strip_html | truncatewords: "50" }}
    </content>
  </entry>
  {%- endfor %}

</feed>
