{%- if env.mode != 'prod' %}
<!-- 👋 sections src/theme-grunn/includes/menulist.liquid -->
{%- endif -%}

{% comment %}
TODO: needs a max count
TODO: make sorting work in liquid
TODO: sorting
{% render "nav/links", url: url, collection : collections.allPosts, showdate: true %}
{% assign sorted = collection | sort: "item.data.order"  %}
{% endcomment %}
<nav aria-label="Pages Navigation">

  {% for item in collection %}
  {% comment %}
  test if the item have a defined menu title
  {% endcomment %}
  {% capture menutitle %}
  {% if item.data.eleventyNavigation.title %}
  {{ item.data.eleventyNavigation.title }}
  {% else %}
  {{ item.data.title }}
  {% endif %}
  {% endcapture %}

  <div class="border-b border-gray-200 mb-4">
    <a href="{{ item.url }}" title="{{ item.data.title }}" class="block {% if item.url contains url -%} font-bold {% endif %}" {% if item.url contains url -%}aria-current="page"
      {% endif %}>{{ menutitle }}
    </a>
    {{ item.data.order }}
    {% if showdate %}
    <div class="text-sm text-gray-700 dark:text-cyan-200">
      {{ item.data.date | date: "%d %m  %Y %H:%M", timeZone }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</nav>