{% comment %} ALL POST
------------------------------------------------
collection that graps all post .allpost is defined in .eleventy.js
 {% endcomment %}

{%- if env.mode != 'prod' %}
  <!-- src/__includes/nav/posts.liquid  -->
{%- endif  -%}

<nav class="py-4" aria-label="All posts">

  {% for item in collections.allPosts %}

    <div class="border-b border-gray-300 dark:border-cyan-400 py-2 mb-4">
      {% comment %}link {% endcomment %}
      {% if item.url in page.url -%}
        <a href="{{ item.url }}" class="block font-bold text-xl text-cyan-700 dark:text-cyan-200" aria-current="page">
          {{item.data.title}}
        </a>
      {% else %}
        <a href="{{ item.url }}" class="block text-gray-800 dark:text-cyan-200">
          {{ item.data.title }}
        </a>
      {% endif %}
      {% comment %}date {% endcomment %}
      <div class="text-sm text-gray-700 dark:text-cyan-200">
        {{ item.data.date | date: "%Y-%m-%d %H:%M", timeZone }}
      </div>

    </div>

  {% endfor %}
</nav>
