{% comment %}POST PRE NEXT NAVIGATION
------------------------------------------------
A simple pre / next nav for collections

 {% endcomment %}
{%- if env.mode != 'prod' %}<!-- __includes/nav/post-pre-next.liquid  -->{%- endif  -%}


{%- if collections.allPosts %}

<nav class="flex flex-row justify-between w-full" aria-label="Pre and Next post">

  {% assign nextPost = collections.allPosts | getNextCollectionItem: page %}
  {% assign previousPost = collections.allPosts | getPreviousCollectionItem: page %}

  {%- if nextPost or previousPost %}
    {% comment %}previous  link {% endcomment %}
    {%- if previousPost %}
      <a href="{{ previousPost.url | url }}" title="{{ previousPost.data.title }}" class="flex flex-row items-center w-full">
        <div class="w-8 text-black dark:text-white">{% include "icons/arrow-left.svg" %}</div>
        <div>{{ previousPost.data.title }}</div>
      </a>
    {% endif %}

    {% comment %}Next  linl {% endcomment %}
    {%- if nextPost %}
      <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.title }}" class="flex flex-row items-center justify-end w-full">
        <div>{{ nextPost.data.title }}</div>
        <div class="w-8 text-black dark:text-white">{% include "icons/arrow-right.svg" %}</div>
     </a>
    {% endif %}
  {% comment %}/if pre of next {% endcomment %}
  {%- endif %}
</nav>

{%- endif %}

