{%- if env.mode != 'prod' %}
<!-- 👋 field/options.liquid -->
{%- endif -%}
<div class="flex flex-col">

  {% comment %}Dropdown {% endcomment %}
  {% if item.inputtype == "Dropdown" %}
  <label for="form-item-{{ item.title | slugify }}" class="font-bold text-lg hover:text-gray-800 hover:cursor-pointer">
    {{ item.title }}
    {% if item.required %} * {% endif %}
  </label>

  <select name="{{ item.title | slugify }}" id="form-item-{{ item.title | slugify }}">

    {% for option in item.option %}
    <option label="{{ option.title | slugify }}" {% if option.checked %} selected {% endif %}>
      {{ option.title }}
    </option>
    {% endfor %}

  </select>
  {% comment %}/Dropdown {% endcomment %}

  {% elsif item.inputtype == "Radio" %}
  <div class="font-bold text-lg">
    {{ item.title }}
    {% if item.required %} * {% endif %}:
  </div>

  {% comment %}Radio {% endcomment %}
  {% for option in item.option %}
  <div class="py-1">
    <input type="radio" id="radio-{{ option.title | slugify }}" name="{{item.title | slugify }}" {% if option.checked %}checked{% endif %}>
    <label for="radio-{{ option.title | slugify }}">
      {{ option.title }}
    </label>
  </div>
  {% endfor %}
  {% comment %}/Radio {% endcomment %}

  {% elsif item.inputtype == "Checkbox" %}
  <div class="font-bold text-lg">
    {{ item.title }}
    {% if item.required %} * {% endif %}:
  </div>

  {% comment %}Checkbox {% endcomment %}
  {% for option in item.option %}
  <div class="py-1">
    <input type="checkbox" id="checkbox-{{ option.title | slugify }}" {% if option.checked %}checked{% endif %}>
    <label for="checkbox-{{ option.title | slugify }}">
      {{ option.title }}
    </label>
  </div>
  {% endfor %}

  {% endif %}
  {% comment %} checklbox {% endcomment %}
</div>