{%- if env.mode != 'prod' %}<!-- _src/__includes/footer.liquid  -->{%- endif  -%}

{% capture address %}

    <article aria-label="Address">

      <div class="flex flex-row">
        <div class="w-4 h-4 text-tone-300 mr-2">{% include "./building-office-2.svg" %}</div>
        <div class="space-y-1">
          <div>{{ global.address.name }}</div>
          <div>{{ global.address.street }}</div>
          <div>{{ global.address.locality }}</div>
          <div>{{ global.address.zip }}</div>
          <div>{{ global.address.country }}</div>
        </div>
      </div>

      <div class="flex flex-col space-y-4 pt-4">
        {% if global.address.phone %}
          <div class="flex flex-row items-center">
            <div class="w-4 h-4 text-tone-300 mr-2">{% include "./phone.svg" %}</div>
            <a href="tel:{{ global.address.phone | replace:" ", "" }}" itemprop="telephone">{{ global.address.phone }}</a>
          </div>
        {% endif %}

        {% if global.address.email %}
          <div class="flex flex-row items-center">
            <div class="w-4 h-4 text-tone-300 mr-2">{% include "./envelope.svg" %}</div>
            <a href="mailto:{{ global.address.email }}" itemprop="email">{{ global.address.email }}</a><br>
          </div>
        {% endif %}

        {% if global.address.url %}
          <div class="flex flex-row items-center">
            <div class="w-4 h-4 text-tone-300 mr-2">{% include "./globe.svg" %}</div>
            <a itemprop="url" href="{{ global.address.url }}" target="_blank" rel="noopener">{{ global.address.url }}</a>
          </div>
        {% endif %}
      </div>

      {% if global.address.street and global.address.zip and global.address.country %}
      <button onclick="openinmap('{{ global.address.street }},{{ global.address.zip }},{{ global.address.country }}')" target="_blank" rel="noopener" class="inline-flex flex-row items-center">
        <div class="w-4 h-4 text-tone-300 mr-2">{% include "./map-pin.svg" %}</div>
        <div>Map</div>
      </button>
      {% endif %}

    </article>

{% endcapture %}



<footer class="bg-tone-100 dark:bg-tone-900 dark:text-gray-300 mt-16 py-8 ">
<div class="pagewidth flex flex-row space-x-8 pt-4">

  {% comment %} identity{% endcomment %}
    <div class="basis-1/4 flex flex-row items-start space-x-4">

      <div class="">
        {% if site.icon %}
          {% render 'image/image.liquid', file: site.icon, widths: "400", css:"w-24" %}
        {% endif %}
      </div>
      <div>
        <div class="text-xl">{{ site.title }}</div>
        <div>
          {{ address }}
        </div>
      </div>
    </div>

    {% comment %} Menu {% endcomment %}
    <div class="basis-2/4 ">
      {% assign menu = collections.all | eleventyNavigation: "footermenu" %}

      <nav class="flex flex-col">
        {% for item in menu %}
          <a href="{{ item.url }}" class="flex flex-row items-center">
            <div class="w-4 h-4 text-tone-300 mr-2">{% include "./globe.svg" %}</div>
          {{ item.title }}</a>
        {% endfor %}
      </nav>
    </div>

  {% comment %} Follow us{% endcomment %}
  <div class="basis-1/4">
    <div class="prose">
      {{ global.footer }}
    </div>

      {% include "some/socialmedia.liquid" %}
      <div class="py-2">
        Build with ⚔️ + 💜
      </div>
      <div>Saga11 : {{ saga11version }}</div>
      <div>{{ eleventy.generator }}</div>
      </div>


</div>
</footer>


{% comment %}This is used for the iphone / android so they can work prober cause ...
{% endcomment %}
<script>
  function openinmap(map) {
    // If it's an iPhone..
    if ((navigator.platform.indexOf("iPhone") != -1)
      || (navigator.platform.indexOf("iPod") != -1)
      || (navigator.platform.indexOf("iPad") != -1))
      window.open("maps://maps.google.com/?q=" + map);
    else
      window.open("https://maps.google.com/?q=" + map);
  }
</script>

