---
layout: default.liquid
saga-template-name: Page default
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->{%- endif -%}

<h1 class="text-5xl">{{ title }}</h1>


Lang: {{ page.lang | upcase }}


{{ page.url | locale_url }}

local links
<nav>
    <a href="{{ page.url }}" lang="{{ page.lang }}" hreflang="{{ page.lang }}">
      {{ page.lang  }}
    </a>

    {% for link in page.url | locale_links  %}
    <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">
      {{ link.lang  }}</a
    >
    {% endfor %}
  </nav>






  {% include "tag/tags.liquid" %}

{% if image %}
  <div class="aspect-video overflow-hidden">
  {% render 'image/image.liquid',
      file: image,
      alt: title,
      sizes: "(min-width: 30em) 50vw, 100vw",
      widths: "400, 800, 1200",
      format: "webp",
      loading: "lazy",
      css: "w-full"
  %}
  </div>
{% endif %}

<div class="prose mx-auto">
  {{ content }}
</div>

{% comment %}
{% include "components/all.liquid" %}

{% include "some/share.liquid" %}

{% endcomment %}



https://www.lenesaile.com/en/blog/internationalization-with-eleventy-20-and-netlify/
